<section class="container" id="projects">
  <h2 class="title">PROJECTS</h2>

  <div class="container-1">
    <div class="row-2">
      <div class="col-2">
        <!-- <img src="assets/about/aws.png" alt="Web Design Icon"> -->
        <h2>
          Microservice based SaaS application for Unified Communication in
          Campus
        </h2>
        <p style="font-size: 18px; padding-bottom: 5px">
          To combine platforms such as WhatsApp, Outlook and File manager in a
          single web application and link the URL with the NFC in Student ID
          card.
        </p>
        <ul>
          <li><b>Containerized Backend</b> using <b>Docker, AWS ECS.</b></li>
          <li>
            <b>Micro-Frontend</b> using <b>Single Spa</b>, hosted on
            <b>AWS S3.</b>
          </li>
          <li><b>AWS DynamoDB</b> for Database.</li>
          <li>
            <b>Jenkins</b> Pipeline used to build and deploy the code on S3
            using <b>Poll SCM.</b>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <img class="image" src="assets/projects/minor-2.png" alt="image" />
        <!-- <button></button> -->
        <a
          rel="noreferrer"
          target="_blank"
          class="cta-btn cta-btn--hero"
          href="https://github.com/sanidhya-soni/Minor-Project-2"
        >
          Source Code
        </a>
      </div>
    </div>
  </div>

  <div class="container-1">
    <div class="row-2">
      <div class="col-2">
        <img class="image" src="assets/projects/bmc.png" alt="image" />
        <!-- <button></button> -->
        <a
          rel="noreferrer"
          class="cta-btn cta-btn--hero"
        >
          Source Code (Unavailable)
        </a>
      </div>
      <div class="col-2">
        <!-- <img src="assets/about/aws.png" alt="Web Design Icon"> -->
        <h2>BMC Software – IZOT Celebrations Memory Wall</h2>
        <p style="font-size: 18px; padding-bottom: 5px">
          Developed a web application to celebrate, share and endorse memories
          of office events using MEAN Stcak. <br />
        </p>
        <ul>
          <li>
            Implemented <b>backend APIs using Node.js and Express.js</b> for
            efficient data handling.
          </li>
          <li>
            Created <b>user-friendly interfaces with Angular</b> for an
            intuitive user experience.
          </li>
          <li>
            Utilized <b>GitHub, Jira, and Agile methodologies (Scrum)</b> for
            effective teamwork and successful project delivery.
          </li>
          <li>
            Showcased
            <b>problem-solving skills and teamwork abilities</b> through design
            discussions and code reviews.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-1">
    <div class="row-2">
      <div class="col-2">
        <!-- <img src="assets/about/aws.png" alt="Web Design Icon"> -->
        <h2>
          Logistics and Space Optimization Strategies in Fresh Fruit Supply
          Chain
        </h2>
        <p style="text-align: left; font-size: 18px; padding-bottom: 5px">
          About: -
        </p>
        <ul>
          <li>
            <b>Optimized the inbound/outbound time</b> of stock in a fruit
            warehouse using <b>A* Algorithm.</b>
          </li>
          <li>
            <b>Optimized the storage</b> of fruits in boxes using
            <b>Bin Packing Algorithm.</b>
          </li>
          <li>
            Rearranged the warehouse in such a fashion that old fruit gets sold
            first.
          </li>
        </ul>
        <p
          style="
            text-align: left;
            font-size: 18px;
            padding-bottom: 5px;
            padding-top: 5px;
          "
        >
          Tech Stack: -
        </p>
        <ul>
          <li>Java Programming Language</li>
          <li>Data Structures: - LinkedList, Stack, 2D Array.</li>
          <li>Algorithms Used: - Bin Packing, A* Algorithm.</li>
        </ul>
      </div>
      <div class="col-2">
        <img class="image" src="assets/projects/minor-1.png" alt="image" />
        <!-- <button></button> -->
        <a
          rel="noreferrer"
          target="_blank"
          class="cta-btn cta-btn--hero"
          href="https://github.com/sanidhya-soni/Minor-Project-1"
        >
          Source Code
        </a>
      </div>
    </div>
  </div>

  <div class="container-1">
    <div class="row-2">
      <div class="col-2">
        <img class="image" src="assets/projects/manas.png" alt="image" />
        <!-- <button></button> -->
        <a
          rel="noreferrer"
          target="_blank"
          class="cta-btn cta-btn--hero"
          href="https://github.com/sanidhya-soni/Manas-Hackathon-2.0"
        >
          Source Code
        </a>
      </div>
      <div class="col-2">
        <!-- <img src="assets/about/aws.png" alt="Web Design Icon"> -->
        <h2>Disease Prediction System by knowing the Symptoms</h2>
        <p style="text-align: left; font-size: 18px; padding-bottom: 5px">
          About: -
        </p>
        <ul>
          <li><b>Flask Application</b> for disease prediction.</li>
          <li><b>Containerized the application using Docker.</b></li>
          <li><b>Deployed same Docker Image on AWS ECS.</b></li>
        </ul>
        <p
          style="
            text-align: left;
            font-size: 18px;
            padding-bottom: 5px;
            padding-top: 5px;
          "
        >
          Tech Stack: -
        </p>
        <ul>
          <li>HTML CSS for Frontend</li>
          <li>Python for Flask Backend</li>
          <li>Docker, AWS ECS, Jenkins</li>
        </ul>
      </div>
    </div>
  </div>
</section>
