<!-- <nav class="navbar">
  <a class="title" href="/"> Portfolio </a>
  <div class="menu">
    <img
      class="menuBtn"
      [src]="
        menuOpen ? 'assets/nav/closeIcon.png' : 'assets/nav/menuIcon.png'
      "
      alt="menu-button"
      (click)="toggleMenu()"
    />
    <ul
      class="menuItems"
      [ngClass]="{ menuOpen: menuOpen }"
      (click)="toggleMenu()"
    >
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#experience">Experience</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->



<nav>
  <h2 class="logo"><div class="text-container"><span>Welcome</span></div></h2>
  <ul>
      <li><a href="#home">Home</a></li>
      <li><a  href="#about">About</a></li>
      <!-- <li><a href="#experience">Experience</a></li> -->
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
  </ul>
  <button routerLink="/"><a class="btn" href="assets/Sanidhya_Soni_Resume.pdf" download="Sanidhya_Soni_Resume">Resume</a></button>
  
</nav>