<footer id="contact" class="container">
  <div class="text">
    <h2>Contact</h2>
    <p>Feel free to reach out!</p>
  </div>
  <ul class="links">
    <li class="link">
      <img src="assets/contact/emailIcon.png" alt="Email icon" />
      <a href="mailto:sanidhya0601@gmail.com">sanidhya0601@gmail.com</a>
    </li>
    <li class="link">
      <img src="assets/contact/linkedinIcon.png" alt="LinkedIn icon" />
      <a href="https://www.linkedin.com/in/sanidhya-soni">linkedin.com/in/sanidhya-soni</a>
    </li>
    <li class="link">
      <img src="assets/contact/githubIcon.png" alt="Github icon" />
      <a href="https://www.github.com/sanidhya-soni">github.com/sanidhya-soni</a>
    </li>
  </ul>
</footer>