<footer>
  <div class="left-text">
    <p class="name">Portfolio is Powered by Angular - Sanidhya Soni - 2023</p>
  </div>
  <div class="right-content">
    <p class="text">Feel free to reach out!
      <a href="https://www.github.com/sanidhya-soni" target="_blank">
        <img src="assets/contact/github.png" alt="GitHub">
      </a>
      <a href="mailto:sanidhya0601@gmail.com" target="_blank">
        <img src="assets/contact/mail.png" alt="Mail">
      </a>
      <a href="https://www.linkedin.com/in/sanidhya-soni" target="_blank">
        <img src="assets/contact/linkedin.png" alt="LinkedIn">
      </a>
    </p>
  </div>
</footer>
