<section class="container">
  <div class="content">
    <h1 class="title">Hi, I'm Sanidhya</h1>
    <p class="description">
      I'm a full-stack developer with 5 years of experience using React and
      NodeJS. Reach out if you'd like to learn more!
    </p>
    <a href="mailto:myemail@email.com" class="contactBtn">Contact Me</a>
  </div>
  <img
    src="assets/images/hero/heroImage.png"
    alt="Hero image of me"
    class="heroImg"
  />
  <div class="topBlur"></div>
  <div class="bottomBlur"></div>
</section>
