<section id="home" class="container">
  <div class="content">
    <h1 class="title">Hi, I'm Sanidhya</h1>
    <p class="description">
      I'm a Cloud Computing Enthusiast specializing in AWS, proficient in DevOps tools like Docker and Jenkins, skilled in Java programming, and versatile with the MEAN stack for full-stack development.
    </p>
    <a href="mailto:sanidhya0601@gmail.com" class="contactBtn">Contact Me</a>
  </div>
  <img
    src="assets/banner/Sani.png"
    alt="Banner image of me"
    class="bannerImg"
  />
  <div class="topBlur"></div>
  <div class="bottomBlur"></div>
</section>
