<section class="container" id="about">
  <h2 class="title">What I Do?</h2>


  <div class="container-1">
    <div class="row-2">
      <div class="col-2">
        <!-- <img src="assets/about/aws.png" alt="Web Design Icon"> -->
        <h2>About</h2>
        <p>I am a Computer Science Engineer with a degree - B.Tech CSE Hons. with a Specialization in Cloud Computing and Virtualization Technology.
          I have worked with a Company named BMC Software for 6 months as a SDE Intern, where I worked on MEAN Stack.
        </p>
      </div>
      <div class="col-2">
        <img class="sani" src="assets/about/sani.png" alt="Sani">
      </div>
    </div>
  </div>

  
  <div class="container-1">
    <div class="row">
      <div class="col">
        <img class="aws" src="assets/about/aws.png" alt="Web Design Icon">
        <!-- <h3>AWS</h3> -->
        <p>I have worked with Infrastructure Services of AWS and Containerization such as: -</p>
        <ul>
          <li>AWS ECS</li>
          <li>AWS EC2</li>
          <li>AWS DynamoDB</li>
          <li>AWS S3</li>
        </ul>
      </div>
      <div class="col">
        <img class="docker" src="assets/about/docker.png" alt="Mobile Design Icon">
        <!-- <h3>Docker</h3> -->
        <p>I've made some applications based on Microservice based architecture for SaaS applications with the backend completely running on docker containers.</p>
      </div>
      <div class="col">
        <img class="jenkins" src="assets/about/jenkins.png" alt="Development Icon">
        <!-- <h3>Jenkins</h3> -->
        <p>I've made CI/CD pipeline using Jenkins with POLL SCM to automate the process for the front end part.</p>
      </div>
      <div class="col">
        <img class="java" src="assets/about/java.png" alt="SEO Icon">
        <!-- <h3>Java</h3> -->
        <p>I've been working with Java Programming language for more than 7 years and Its my favourite programming language along with the intermediate knowledge of C, C++, Python, Typescript</p>
      </div>
    </div>
  </div>

</section>
