<section class="container" id="about">
  <h2 class="title">About</h2>
  <div class="content">
    <img
      src="assets/about/about.png"
      alt="Me sitting with a laptop"
      class="aboutImage"
    />
    <ul class="aboutItems">
      <li class="aboutItem">
        <img src="assets/about/cursorIcon.png" alt="Cursor icon" />
        <div class="aboutItemText">
          <h3>Cloud Specialist</h3>
          <p>
            I'm a Cloud Engineer with knowledge of Containers and Serverless
            Services of AWS.
          </p>
        </div>
      </li>
      <li class="aboutItem">
        <img src="assets/about/serverIcon.png" alt="Server icon" />
        <div class="aboutItemText">
          <h3>Microservice</h3>
          <p>
            I've worked with Docker Containers for running multiple applications.
          </p>
        </div>
      </li>
      <li class="aboutItem">
        <img src="assets/about/serverIcon.png" alt="Server icon" />
        <div class="aboutItemText">
          <h3>MEAN Stack Developer</h3>
          <p>
            I've completed an Internship at BMC Software as a SDE Intern in MEAN Stack.
          </p>
        </div>
      </li>
      <li class="aboutItem">
        <img src="assets/about/cursorIcon.png" alt="UI icon" />
        <div class="aboutItemText">
          <h3>Programming Languages</h3>
          <p>
            Since 10th Grade, Java has been my favourite programming language.
            I have also worked with C, C++, Python, TypeScript.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
